language: go
go:
  - 1.13.x
  - master
os:
  - linux
  - osx
cache:
  directories:
    - $GOPATH/pkg/mod
dist: trusty
sudo: false
install: true
script:
  - make
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)