language: go
go:
  - 1.13.x
os:
  - linux
  - osx
cache:
  directories:
    - $GOPATH/pkg/mod
dist: trusty
sudo: false
install: true
script:
  - make
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    skip_cleanup: true
    file:
      - build/zpan
    on:
      tags: true