[Unit]
Description=zpan - A cloud disk base on the cloud storage.
Documentation=https://github.com/saltbo/zpan
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/zpan.pid
ExecStart=/usr/local/bin/zpan -c /etc/zpan/config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target